#!/bin/bash
DATABASE_URL=postgres://USERNAME:PASSWORD@HOST:5432/DATABASENAME
export DATABASE_URL

sudo /sbin/modprobe w1-gpio
sudo /sbin/modprobe w1-therm
/usr/bin/python /home/pi/tempwatch/tempwatch.py >> /home/pi/tempwatch/debug.log 2>&1
